soap/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">


    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:complexType name="book">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="year" type="tns:integer"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <wsdl:complexType name="arrayReturn">
                <wsdl:sequence>
                    <wsdl:element minOccurs="0" name="status_code" nillable="true" type="xds:int"/>
                </wsdl:sequence>
            </wsdl:complexType>
            <wsdl:complexType name="getUserReturn">
                <wsdl:sequence>
                    <wsdl:element minOccurs="0" name="username" nillable="true" type="xds:string"/>
                    <wsdl:element minOccurs="0" name="password" nillable="true" type="xds:string"/>
                    <wsdl:element minOccurs="0" name="email" nillable="true" type="xds:string"/>
                </wsdl:sequence>
            </wsdl:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="addUserRequest">
        <wsdl:part name="username" type="xsd:string"></wsdl:part>
        <wsdl:part name="password" type="xsd:string"></wsdl:part>
        <wsdl:part name="email" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserResponse">
        <wsdl:part name="username" type="tns:arrayReturn"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserResponse">
        <wsdl:part name="username" type="tns:getUserReturn"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="activateUserRequest">
        <wsdl:part name="username" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Library">
        <wsdl:operation name="addUser">
            <wsdl:input message="tns:addUserRequest"/>
            <wsdl:output message="tns:addUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="activateUser">
            <wsdl:input message="tns:activateUserRequest"/>
            <wsdl:output message="tns:addUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deactivateUser">
            <wsdl:input message="tns:activateUserRequest"/>
            <wsdl:output message="tns:addUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <wsdl:input message="tns:activateUserRequest"/>
            <wsdl:output message="tns:getUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addUser">
            <soap:operation soapAction="http://127.0.0.1/soap/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateUser">
            <soap:operation soapAction="http://127.0.0.1/soap/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateUser">
            <soap:operation soapAction="http://127.0.0.1/soap/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUser">
            <soap:operation soapAction="http://127.0.0.1/soap/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="SoapLibrary">
            <soap:address location="http://127.0.0.1/soap/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>